body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #1f2937;
  min-height: 35vh;
  padding: 0px 220px 64px 220px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  gap: 16px;
}

li {
  list-style: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: stretch;  
  gap: 24px;
}

.hero-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
}

.img-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  flex: 1;
  
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

h2 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin: 0;
}

.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

button {
  border-radius: 8px;
  font-size: 18px;
  color: #e5e7eb;
  background-color: #3882f6;
  padding: 8px 40px;
  border: 0;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;  
  min-height: 30vh;
  padding: 32px 220px 64px 220px;
}

.information-header {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.information-boxes {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding: 0px 250px 0px 250px;
}

.box {
  border-radius: 15px;
  border-style: solid;
  border-width: 4px;
  border-color: #3882f6;
  width: 150px;
  height: 150px;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px
}

.info-text {
  font-size: 15px;
  font-weight: 300;  
  text-align: justify;
}

.quote-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e7eb;
  min-height: 25vh;
  padding: 32px 300px 32px 300px;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}

.signature {
  font-weight: 500;
  font-size: 25px;
  align-self: flex-end;
}
