body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    
}

.header-section {       
    height: 300px; 
    background: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;    
    justify-content: flex-start;
    align-content: center;
    margin: 0px;
    padding: 16px;
    gap: 16px;

    
}

.header {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 24px;
    color: #F9FAF8;
    gap: 16px;
}

.hero {
    display: flex;
    margin: 0px;
    justify-content: space-between;

    padding-left: 150px;
    padding-right: 150px;
    gap: 50px;
}

.img-placeholder {
    display: flex;
    width: 300px;
    height: 150px;
    flex-shrink: 0;
    flex: 1;
    background: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.hero-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 300px;
    height: 150px;
    flex-shrink: 0;
    flex: 1;
    gap: 16px;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    gap: 15px;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    padding: 8px 32px;
    border-radius: 8px;
    background: royalblue;    
    color: white;
}

.features-section {
    height: 25%;
    display: flex;
    
}

.quotes-section {
    height: 25%;
    background: #E5E7EB;
    display: flex;
    
}

.actions-section {
    height: 20%;
    display: flex;
    
}

.footer {
    height: 72px;
    background: #1F2937;
    display: flex;
    
}